In [77]:
import pandas as pd
import sketch

In [78]:
import pandas as pd
path = '/home/kushal/Downloads/BBC/data/'
filename = 'DataForOmdenaBBC'
ext = '.xlsx'
filepath = path + filename + ext

In [79]:
df = pd.read_excel(filepath)

In [80]:
df.head()

,summaries,text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81
0,NaN,वीरगन्जस्थित एकीकृत सुरक्षा जाँच चौकी (आइसीपी)...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,क्रिकेटर सन्दीप लामिछानेमाथि लागेको नाबालिग बल...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...,"इलाहे ताभोकोलियन,गत सेप्टेम्बरमा मशहद नजिकैको ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...,हालै टर्की र सिरियामा गएको विनाशकारी भूकम्पमा ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...,ताइवानी राष्ट्रपति त्साइ इङ-वनले अघिल्लो साता ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# column_names = df.columns
# column_names

In [82]:
# from collections import Counter
# Counter(filtered_df["summaries"])

In [83]:
filtered_data = df.copy()

In [84]:
filtered_data = df.filter(regex='^(?!Unnamed:)')
filtered_data.head(10)

,summaries,text
0,NaN,वीरगन्जस्थित एकीकृत सुरक्षा जाँच चौकी (आइसीपी)...
1,NaN,क्रिकेटर सन्दीप लामिछानेमाथि लागेको नाबालिग बल...
2,एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...,"इलाहे ताभोकोलियन,गत सेप्टेम्बरमा मशहद नजिकैको ..."
3,मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...,हालै टर्की र सिरियामा गएको विनाशकारी भूकम्पमा ...
4,चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...,ताइवानी राष्ट्रपति त्साइ इङ-वनले अघिल्लो साता ...
5,काठमाण्डू महानगरपालिकाका मेयर बालेन्द्र शाहले ...,उनले सङ्घीय सरकारअन्तर्गत रहेका विभिन्न मन्त्र...
6,NaN,"अल-अक्सा मस्जिदमा प्रार्थना गर्दै,जेरुसलेमको अ..."
7,NaN,"पूर्वी रुकुमको मौकोट गाउँको मनोरम दृश्य ,सरकार..."
8,आजभन्दा १५ वर्षअघि मात्रै पत्ता लागेको औषधि प्...,यदि हाम्रो शरीरभित्र पुग्यो भने 'यीस्ट' प्रकार...
9,NaN,दोस्रो विश्व युद्धपछि संयुक्त राज्य अमेरिका वि...

In [85]:
filtered_data['summaries'] = filtered_data['summaries'].fillna('मलाई सन्चै छ, हजुरलाई कस्तो छ?')

/tmp/ipykernel_14697/2357297319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['summaries'] = filtered_data['summaries'].fillna('मलाई सन्चै छ, हजुरलाई कस्तो छ?')

In [86]:
filtered_data.drop(columns=['text'], inplace=True)

/tmp/ipykernel_14697/2831511723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.drop(columns=['text'], inplace=True)

In [87]:
filtered_data

                                             summaries
0                       मलाई सन्चै छ, हजुरलाई कस्तो छ?
1                       मलाई सन्चै छ, हजुरलाई कस्तो छ?
2    एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...
3    मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...
4    चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...
..                                                 ...
677  उपनिर्वाचनको केही साताअघि मात्र नेपाली कांग्रे...
678                     मलाई सन्चै छ, हजुरलाई कस्तो छ?
679  मलेशिया पुर्‍याएर रोजगारदाताले काम नदिइकन न्यू...
680  नेपालका परराष्ट्रमन्त्री एनपी साउदले भारतसँग घ...
681  स्वास्थ्य तथा जनसङ्ख्या मन्त्रालयले गत चैत २४ ...

[682 rows x 1 columns]

In [88]:
filtered_data['summaries'] = filtered_data['summaries'].str.replace(',', ' ')

/tmp/ipykernel_14697/1423341568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['summaries'] = filtered_data['summaries'].str.replace(',', ' ')

In [89]:
filtered_data

                                             summaries
0                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
1                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
2    एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...
3    मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...
4    चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...
..                                                 ...
677  उपनिर्वाचनको केही साताअघि मात्र नेपाली कांग्रे...
678                     मलाई सन्चै छ  हजुरलाई कस्तो छ?
679  मलेशिया पुर्‍याएर रोजगारदाताले काम नदिइकन न्यू...
680  नेपालका परराष्ट्रमन्त्री एनपी साउदले भारतसँग घ...
681  स्वास्थ्य तथा जनसङ्ख्या मन्त्रालयले गत चैत २४ ...

[682 rows x 1 columns]

In [90]:
filtered_data.isnull().sum()

summaries    0
dtype: int64

In [91]:
filtered_data['summaries'] = filtered_data['summaries'].replace(r'\d+', '', regex=True)
filtered_data['summaries'] = filtered_data['summaries'].replace(r'[a-zA-Z0-9]+', '', regex=True)

/tmp/ipykernel_14697/584895631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['summaries'] = filtered_data['summaries'].replace(r'\d+', '', regex=True)
/tmp/ipykernel_14697/584895631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['summaries'] = filtered_data['summaries'].replace(r'[a-zA-Z0-9]+', '', regex=True)

In [92]:
filtered_data.to_csv('DataForOmdenaBBC.csv', sep='\t', index=False)

In [93]:
filtered_data

                                             summaries
0                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
1                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
2    एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...
3    मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...
4    चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...
..                                                 ...
677  उपनिर्वाचनको केही साताअघि मात्र नेपाली कांग्रे...
678                     मलाई सन्चै छ  हजुरलाई कस्तो छ?
679  मलेशिया पुर्‍याएर रोजगारदाताले काम नदिइकन न्यू...
680  नेपालका परराष्ट्रमन्त्री एनपी साउदले भारतसँग घ...
681  स्वास्थ्य तथा जनसङ्ख्या मन्त्रालयले गत चैत  गत...

[682 rows x 1 columns]