In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/kushal/Downloads/BBC/cleaned_data/DataForOmdenaBBC(v2).csv')

In [6]:
df['summaries'] = df['summaries'].replace(r'\d+', '', regex=True)
df['summaries'] = df['summaries'].replace(r'[a-zA-Z0-9]+', '', regex=True)

In [7]:
df

                                             summaries
0                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
1                       मलाई सन्चै छ  हजुरलाई कस्तो छ?
2    एक युवती अस्पतालको शय्यामा पल्टिएकी छन्। उनको ...
3    मोबाइल फोनबाट पहिलोपटक मानिसहरूबीच संवाद भएको ...
4    चीनले आफ्नो सैन्य अभ्यासको दोस्रो दिन आइतवार प...
..                                                 ...
714  जन्मका आधारमा नागरिकता पाएकाहरूका सन्तानले वंश...
715  केही दशकअघिसम्म सिंहदरबार वैद्यखानाबाट उत्पादन...
716  बुधबार राजधानी दिल्लीको प्रगति मैदानमा ‘भारत म...
717  गुगलको भूकम्पसम्बन्धी चेतावनी प्रणालीले गत फेब...
718  नेपाल राष्ट्र ब्याङ्कले डिजिटल करेन्सी प्रयोगम...

[719 rows x 1 columns]

In [12]:
df.to_csv('../cleaned_data/DataForOmdenaBBC(v3).csv', index=False)